<asms-modal
  [title]="'MEMBERSHIPS.ADD'"
  [steps]="[]"
  [canProceed]="form.valid"
  [isLoading]="isLoading"
  [isFirstStep]="true"
  [isLastStep]="true"
  [submitLabel]="'MEMBERSHIPS.ADD'"
  (cancelled)="cancel()"
  (submitted)="submit()">

  <form [formGroup]="form" class="dialog-form-col" autocomplete="off">

    <mat-form-field appearance="outline">
      <mat-label>{{ 'MEMBERSHIPS.USER' | translate }} (User ID)</mat-label>
      <mat-icon matPrefix>person</mat-icon>
      <input matInput formControlName="userId" placeholder="user-uuid" />
      @if (form.get('userId')?.hasError('required')) {
        <mat-error>User ID is required</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'MEMBERSHIPS.ORGANIZATION' | translate }} (Organization ID)</mat-label>
      <mat-icon matPrefix>business</mat-icon>
      <input matInput formControlName="organizationId" placeholder="org-uuid" />
      @if (form.get('organizationId')?.hasError('required')) {
        <mat-error>Organization ID is required</mat-error>
      }
    </mat-form-field>

  </form>

</asms-modal>
